:root {
	/* All color gradients*/
	--green-to-blue-gradient: linear-gradient(
		45deg,
		hsl(240deg 100% 20%) 0%,
		hsl(223deg 100% 29%) 9%,
		hsl(216deg 100% 36%) 17%,
		hsl(211deg 100% 41%) 25%,
		hsl(204deg 100% 43%) 33%,
		hsl(195deg 100% 41%) 42%,
		hsl(181deg 100% 37%) 53%,
		hsl(164deg 100% 41%) 66%,
		hsl(148deg 100% 46%) 82%,
		hsl(126deg 100% 54%) 100%
	);

	--orange-to-red-gradient: linear-gradient(
		235deg,
		hsl(0deg 95% 61%) 0%,
		hsl(6deg 95% 59%) 21%,
		hsl(12deg 96% 58%) 30%,
		hsl(18deg 96% 57%) 39%,
		hsl(24deg 97% 56%) 46%,
		hsl(31deg 97% 55%) 54%,
		hsl(37deg 98% 54%) 61%,
		hsl(43deg 99% 53%) 69%,
		hsl(49deg 99% 51%) 79%,
		hsl(55deg 100% 50%) 100%
	);

	/* Default gradient */
	--blue-to-purple-gradient: linear-gradient(
		225deg,
		hsl(200, 100%, 50%),
		hsl(283, 91%, 45%)
	);

	/* default background */
	--bg: var(--blue-to-purple-gradient);

	/* Colors */
	--clr-primary: hsl(0, 0%, 0%);
	--clr-secondary: hsl(0, 0%, 100%);

	--black-80: hsla(0, 0%, 0%, 0.8);
	--black-75: hsla(0, 0%, 0%, 0.75);

	--white-90: hsla(0, 0%, 100%, 0.9);
	--white-75: hsla(0, 0%, 100%, 0.75);
	--white-25: hsla(0, 0%, 100%, 0.25);

	--footer-bg-hue: 224;
	--footer-bg-saturation: 60%;
	--footer-bg-lightness: 7%;

	--modal-bg-hue: 221;
	--modal-bg-saturation: 63%;
	--modal-bg-lightness: 15%;

	/* Cursor Position */
	--cursor-x: 0px;
	--cursor-y: 0px;
}

.green-to-blue {
	--bg: var(--green-to-blue-gradient);

	--footer-bg-hue: 190;
	--footer-bg-saturation: 50%;
	--footer-bg-lightness: 11%;

	--modal-bg-hue: 170;
	--modal-bg-saturation: 35%;
}

.orange-to-red {
	--bg: var(--orange-to-red-gradient);

	/* hsl(18, 73%, 14%)*/
	--footer-bg-hue: 18;
	--footer-bg-saturation: 73%;
	--footer-bg-lightness: 10%;

	--modal-bg-hue: 18;
	--modal-bg-saturation: 40%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: sans-serif;
	font-weight: normal;
	/* cursor: none; */
}

body {
	padding: 0;
	margin: 0;
	background-image: var(--bg);
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	gap: 20px;
	min-height: 100vh;
}
/*
.cursor {
	position: absolute;
	background: #3366cc;
	width: 25px;
	height: 25px;
	border-radius: 25px;
	top: calc(var(--cursor-y) - 12.5px);
	left: calc(var(--cursor-x) - 12.5px);
	pointer-events: none;
}
*/
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	color: currentColor;
	text-decoration: none;
}

svg {
	pointer-events: none;
}

button::after {
	display: block;
	position: absolute;
	color: var(--clr-primary);
	white-space: nowrap;
	background: var(--white-75);
	padding: 5px;
	border-radius: 10px;
	bottom: 110%;
	left: 10%;
}

/* Navbar */
.navbar {
	color: var(--clr-secondary);
	height: 50px;
	width: 100%;
	display: flex;
	flex-direction: row;
	background-color: var(--black-75);
}

.nav-ul {
	padding: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-item > a {
	font-weight: bold;
	font-size: 1.5rem;
}

.nav-item > a:hover {
	text-decoration: underline;
}

.dropdown {
	position: absolute;
	width: auto;
	opacity: 0;
	z-index: 2;
	background: var(--white-75);

	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;

	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 3rem;
	margin-top: 2rem;
	padding: 0.5rem;

	box-shadow: hsla(220, 82%, 4%, 0.1) 0px 0.175em 0.5em;

	transform: translateX(-30%);
	transition: opacity 0.15s ease-out;
	pointer-events: none;
}
.has-dropdown:focus-within .dropdown {
	opacity: 1;
	pointer-events: auto;
}

.dropdown-item a {
	width: 100%;
	height: 100%;
	margin-left: 10px;
	size: 0.7rem;
	font-weight: bold;
	user-select: none;
	color: var(--clr-primary);
}

.dropdown-item a::before {
	content: ' ';
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

#green-to-blue::before {
	background-image: var(--green-to-blue-gradient);
}
#orange-to-red::before {
	background-image: var(--orange-to-red-gradient);
}

#blue-to-purple::before {
	background-image: var(--blue-to-purple-gradient);
}

/* Calculator Grid */

.calculator-grid {
	display: grid;
	grid-template-columns: repeat(4, 100px);
	grid-template-rows: minmax(130px, auto) repeat(5, 100px);
}

.calculator-grid > button {
	cursor: pointer;
	color: var(--clr-primary);
	font-size: 2rem;
	border: 1px solid var(--clr-secondary);
	outline: none;
	background-color: var(--white-75);
	user-select: none;
}

.calculator-grid > button:hover {
	background-color: var(--white-90);
}

.output {
	grid-column-start: 1;
	grid-column-end: -1;
	display: flex;
	background-color: var(--black-75);
	align-items: flex-end;
	justify-content: space-between;
	flex-direction: column;
	word-wrap: break-word;
	word-break: break-all;
	position: relative;
}

.output .previous-operand {
	color: var(--white-75);
	font-size: 1.5rem;
	margin-right: 5px;
	margin-left: 5px;
	user-select: all;
}

.output .current-operand {
	color: var(--clr-secondary);
	font-size: 2.5rem;
	margin-right: 5px;
	margin-left: 5px;
	user-select: all;
}

.copy-button {
	user-select: none;
	border: none;
	background: none;
	cursor: pointer;
	display: flex;
	padding: 4px;
	border-radius: 5px;
	position: relative;
}

.copy-button::after {
	content: attr(data-message) ' ';
	bottom: 50%;
	left: -150%;
	transform: scale(0);
	transition: transform ease-out 150ms, bottom ease-out 150ms;
}

.copy-button:hover::after {
	transform: scale(1);
	bottom: 100%;
}

.copy-button:active {
	background-color: var(--white-25);
	border-radius: 20px;
}

.history-button {
	user-select: none;
	border: none;
	background: none;
	cursor: pointer;
	display: flex;
	padding: 5px;
	position: relative;
}

.history-button::after {
	content: 'See history';
	bottom: 50%;
	left: -100%;
	transform: scale(0);
	pointer-events: none;
	transition: transform ease-out 150ms, bottom ease-out 150ms;
}

.history-button:hover::after {
	bottom: 120%;
	transform: scale(1);
}

.history-button:active {
	background-color: var(--white-25);
	border-radius: 20px;
}

.history-button:focus {
	/**/
	border: none;
}

.invisible {
	position: absolute;
	opacity: 0;
	left: '99999px';
}

/* Pop up History */

.modal-history {
	position: absolute;

	background: hsl(
		var(--modal-bg-hue),
		var(--modal-bg-saturation),
		var(--modal-bg-lightness)
	);
	padding: 5px;
	color: var(--clr-secondary);
	border: none;
	border-radius: 10px;
	max-width: 340px;
	min-width: 340px;
	min-height: 300px;
	word-wrap: break-word;
	overflow: visible;
	word-break: break-all;
}
.modal-header {
	margin: 0px;
	padding: 0;
	text-align: center;
}

.calculations {
	font-size: 1em;
	margin: 0;
	height: 200px;
	overflow: hidden;
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.calculation {
	border-radius: 5px;
	padding: 7.5px;
	margin: 0;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 10px;
}

.calculation:hover {
	--modal-bg-lightness: 25%;

	background: hsl(
		var(--modal-bg-hue),
		var(--modal-bg-saturation),
		var(--modal-bg-lightness)
	);
}

.calculation > p {
	padding: 0;
	margin: 0;
}

.calculation .copy-button {
	opacity: 0;
	pointer-events: none;
}

.calculation:hover .copy-button {
	opacity: 1;
	pointer-events: all;
}

.modal-history .copy-button::after {
	display: none;
}

/* Styling the calculations scrollbar */
::-webkit-scrollbar {
	width: 0.4em;
}

::-webkit-scrollbar-track {
	background: hsl(
		var(--modal-bg-hue),
		var(--modal-bg-saturation),
		var(--modal-bg-lightness)
	);
	border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
	background: hsl(0 0% 70%);
	border-radius: 100vw;
}
.clear-history-button {
	margin-top: 7px;
	cursor: pointer;
	position: relative;
	user-select: none;
	right: 0px;
	background: none;
	border: none;
}

.clear-history-button > svg {
	fill: #fff;
}

.clear-history-button:hover > svg {
	fill: red;
}

.clear-history-button:active > svg {
	fill: red;
}

.clear-history-button::after {
	content: 'Delete history';
	left: -100%;
	transform: scale(0);
	bottom: 50%;
	transition: transform ease-out 150ms, bottom ease-out 150ms;
}

.clear-history-button:hover::after {
	transform: scale(1);
	bottom: 110%;
}

/* Footer */

footer {
	width: 100%;
	height: 50px;
	font-size: 0.7rem;
	background-color: hsl(
		var(--footer-bg-hue),
		var(--footer-bg-saturation),
		var(--footer-bg-lightness)
	);
	color: var(--clr-secondary);
	opacity: 1;
	user-select: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.text-link {
	color: hsl(200, 100%, 50%);
}

.text-link:hover {
	border-bottom: 2px solid hsl(200, 100%, 50%);
}

.close-button {
	background: none;
	border: none;
	cursor: pointer;
	display: flex;
	padding: 7px;
	border-radius: 5px;
	position: absolute;
	top: 0;
	right: 0;
}

.close-button > svg {
	fill: var(--clr-secondary);
}

.close-button:hover > svg {
	fill: hsl(0, 100%, 50%);
}

.close-button:active > svg {
	fill: hsl(0, 100%, 50%);
}
