*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: sans-serif;
	font-weight: normal;
}

body {
	padding: 0;
	margin: 0;
	background: linear-gradient(225deg, #00aaff, #a10add);
}

.calculator-grid {
	display: grid;
	justify-content: center;
	align-content: center;
	min-height: 100vh;
	grid-template-columns: repeat(4, 100px);
	grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
	cursor: pointer;
	font-size: 2rem;
	border: 1px solid white;
	outline: none;
	background-color: rgba(255, 255, 255, 0.75);
	user-select: none;
}

.calculator-grid > button:hover {
	background-color: rgba(255, 255, 255, 0.9);
}

.output {
	grid-column: 1 / -1;
	display: flex;
	background-color: rgba(0, 0, 0, 0.75);
	align-items: flex-end;
	justify-content: space-around;
	flex-direction: column;
	padding: 10px;
	word-wrap: break-word;
	word-break: break-all;
	position: relative;
}

.output .previous-operand {
	color: rgba(255, 255, 255, 0.75);
	font-size: 1.5rem;
	user-select: all;
}

.output .current-operand {
	color: white;
	font-size: 2.5rem;
	user-select: all;
}

.copy-button-container {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.copy-button {
	border: none;
	background: none;
	cursor: pointer;
	padding: 5px;
}

.copy-button:active {
	background-color: rgba(255, 255, 255, 0.25);
	border-radius: 20px;
}

.copy-button > img {
	width: 20px;
}

.invisible {
	position: absolute;
	left: '99999px';
}
